body{
  background-color: rgb(98, 98, 98);
}

h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 100px;
}

.titulua{
  margin-top: 30px;
  padding: 50px;
  text-align: center;
}

.cont{
  width: 90%;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card img:hover{
  cursor: pointer;
}

.card-body:hover{
  cursor: pointer;
}

.botoiak{
  margin-top: 80px;
  text-align: center;
}

ul{
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}

ul li{
  margin-left: 20px;
}

button{
  height: 7em;
  width: 10em;
  cursor: pointer;
  border-style: none;
  border-radius: 20px;
}

button:hover{
  background-color: brown;
  color: white;
}

#edukia {
  visibility: hidden;
}