body{
  background-color: orange;
}
h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 100px;
}

.titulua{
  margin-top: 100px;
  padding: 50px;
  text-align: center;
}

.cont{
  width: 90%;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card img:hover{
  cursor: pointer;
}

.card-body:hover{
  cursor: pointer;
}
